:root {

    /* Colors */

    --background-primary: #ffffff;
    --background-secondary: #eadbcb;

    --text-primary: #403126;
    --text-secondary: #eadbcb;

    --button-color-pressed: #dcc1a7;
    --button-color-unpressed: #6b482c;

    --button-text-pressed: #403126;
    --button-text-unpressed: #eadbcb;

    /* Spacing */

    --spacing-XS: 8px;
    --spacing-S: 12px;
    --spacing-M: 16px;
    --spacing-L: 20px;
    --spacing-XL: 24px;

    /* Radii */

    --radius-circle: 50rem;
    --radius-medium: 5rem;
    --radius-small: 1rem;

    /* Font Weights */
    
    --weight-bold: 700;
    --weight-semibold: 600;
    --weight-normal: 400;
    --weight-light: 200;

}

.body {
    font-family: 'Lexend', sans-serif;
    background-color: var(--background-primary);
    color: var(--text-primary);
}

.btn-primary {

  --bs-btn-border-width: 0px;

  --bs-btn-color: var(--button-text-unpressed);
  --bs-btn-bg: var(--button-color-unpressed);
  --bs-btn-border-color: var(--button-color-unpressed);

  --bs-btn-hover-color: var(--button-text-pressed);
  --bs-btn-hover-bg: var(--button-color-pressed);
  --bs-btn-hover-border-color: var(--button-color-unpressed);

  --bs-btn-active-color: var(--button-text-pressed);
  --bs-btn-active-bg: var(--button-color-pressed);
  --bs-btn-active-border-color: var(--button-color-pressed);
}

.btn-outline-primary {

  --bs-btn-border-width: 1px;

  --bs-btn-color: var(--button-color-unpressed);
  --bs-btn-bg: var(--background-primary);
  --bs-btn-border-color: var(--button-color-unpressed);

  --bs-btn-hover-color: var(--button-color-unpressed);
  --bs-btn-hover-bg: var(--background-secondary);
  --bs-btn-hover-border-color: var(--button-color-unpressed);

  --bs-btn-active-color: var(--button-text-unpressed);
  --bs-btn-active-bg: var(--button-color-unpressed);
  --bs-btn-active-border-color: var(--button-color-unpressed);
}


.btn-group-vertical .btn-outline-primary:hover {
  background-color: var(--button-color-pressed) !important;
  border-color: var(--button-color-unpressed) !important;
  color: var(--button-color-unpressed) !important;
}



.header-button {

  --bs-btn-color: var(--button-text-pressed);
  --bs-btn-bg: var(--background-primary);
  --bs-btn-border-color: var(--button-color-unpressed);

}

.header-button.active {

  --bs-btn-color: var(--button-text-unpressed);
  --bs-btn-bg: var(--button-color-unpressed);
  --bs-btn-border-color: var(--button-color-unpressed);

  --bs-btn-active-color: var(--button-text-unpressed);
  --bs-btn-active-bg: var(--button-color-unpressed);
  --bs-btn-active-border-color: var(--button-color-unpressed);

}

.word-selectable {
  cursor: pointer;
  padding: 0.15em 0.05em;
  margin: 0 -0.05em;
  transition: 0.15s ease-in-out;
}

.word-selectable:hover {
  background-color: var(--background-secondary);
  color: var(--button-color-unpressed);
  border-radius: var(--radius-small);
}

.word-selected {
  background-color: var(--button-color-unpressed);
  color: var(--button-color-pressed);
  border-radius: var(--radius-small);
}

.article-text {
  line-height: 2.0;
}
